# Logs
logs
*.log
npm-debug.log*

# Source Maps
*.map

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Compiled assets
css/*
!css/.gitkeep
font/*
!font/.gitkeep

# JetBrains
.idea
